{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SketchDrawing- Login{% endblock %}
{% block navbar %}
    {{ super() }}
{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
    <div >
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
    <p>New User? <a href="{{ url_for('auth.register_main') }}">Click to Register!</a></p>
    </div>
{% endblock %}

