{% extends "bootstrap/base.html" %}


{% block title %}
    {% if title %}
    <title> {{ title }}-SketchDrawing </title>
    {% else %}
    <title> Welcome to SketchDrawing </title>>
    {% endif %}
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet"
      href="{{url_for('static', filename='css/image.css')}}">
{% endblock  %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                {% if current_user.is_administrator() %}
                         <li><a href="{{ url_for('teacher') }}">SketchDrawing</a></li>
                     {% else %}
                        <li><a href="{{ url_for('index') }}">SketchDrawing</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{url_for('static', filename='images/icon32/drawing.svg')}}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('history') }}">History</a></li>
                        <li><a href="{{ url_for('edit_profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

  {% block content %}
  <div style="text-align:center;color: mediumseagreen" >
      {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
       {{ message }}
        </div>
      {% endfor %}
     <h1>SketchDrawing</h1>
     {% block page_content %}{% endblock %}
     </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
